
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/YoYo-Web-App/config/applicationhost.config
.vs/YoYo-Web-App/DesignTimeBuild/.dtbcache
.vs/YoYo-Web-App/v16/.suo
.vs/YoYo-Web-App/v16/Server/sqlite3/db.lock
.vs/YoYo-Web-App/v16/Server/sqlite3/storage.ide
.vs/YoYo-Web-App/v14/.suo
.vs/YoYo-Web-App/v16/Server/sqlite3/storage.ide-shm
.vs/YoYo-Web-App/v16/Server/sqlite3/storage.ide-wal
